/*////////////////////////
//      Mobile First    //
////////////////////////*/

/* ==[ INIT ]== */
:root {
    --primary-bgcolor: #f9feff;
    --banner-color: #B5BAE0;

    --button-a: #6faeb7;
    --button-b: #DAEDBD;

    --footer-bgcolor: #D2E7B3;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bgcolor);
    font-family: "Khyay", Arial, Helvetica, sans-serif;
    font-size: 1em;

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


h1 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

/* ==[ HEADER SECTION ]== */
header {
    background-color: var(--primary-bgcolorcolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    all: unset;
    /* Permet de retirer toutes propriétées css à une balise */
}

li a {
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

header a.header-logo {
    cursor: pointer;
}

header a.header-logo img {
    height: 3rem;
}

header button {
    all: unset;
    cursor: pointer;
}

.header-menu {
    background-color: var(--primary-bgcolor);
    text-align: center;
    align-items: center;
    padding-block: 6rem;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 99vw;
    transform: translateX(-100%);
    transition: ease 0.6s;
}

.header-menu li {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header-menuexit {
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 1em;
}

/* Makes elements visible */
.header-open {
    transform: translateX(0);
}

/* Makes elements unvisible */
.no-visibility {
    display: none;
}

nav ul li a.lien:hover {
    text-decoration: underline 2px var(--button-a);
}

/* ==[ SPANS ]== */
span.span-cercle {
    border: var(--button-a) solid 2.3px;
    border-radius: 25px;
    padding: 2px 6px 2px 6px;
    white-space: nowrap;
}

span.span-contact {
    background-color: var(--button-a);
    border-radius: 12px;
    padding: 5px 20px 5px 20px;
    color: white;
}

span.span-footer1 {
    background-color: none;
    border: solid 2px #FFFFFF;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

span.span-footer2 {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    color: black;
    font-weight: bolder;
}

/* ==[ ACCUEIL ]== */
/*////// P1 //////*/
.p1-container {
    display: flex;
    min-height: 90vh;
    max-width: 100vw;
    padding: 0 1rem 0 3rem;
    gap: 30px;
}

.p1-gauche {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p1-gauche p {
    white-space: pre-line;
    margin-bottom: 1em;
}

.p1-droite {
    width: 40%;
}

a.p1-button {
    all: unset;

    background-color: var(--button-b);
    border-radius: 25px;

    padding: 0.25em;
    max-width: 15rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a.p1-button button {
    all: unset;

    font-weight: 550;
    padding: 0.25em;
    gap: 0.5em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.p1-banner {
    background-color: var(--banner-color);
    color: white;
    height: 3rem;
    width: 100%;
    padding: 1em;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    font-size: 15px;
    letter-spacing: 2px;
}

.banner {
    width: 100%;
}

.banner p {
    white-space: nowrap;
    transform: translateX(110%);

    animation: banniere 18s linear infinite;
}

@keyframes banniere {
    to {
        transform: translateX(-320%);
    }
}

/*////// P2 //////*/
.p2-container {
    display: flex;
    min-height: 60vh;
    max-width: 100vw;
    padding: 0 1rem 2rem 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: white;
    font-size: 1.2rem;
}

.p2-container img {
    filter: brightness(80%);
}

.img-gauche1 {
    position: relative;
    text-align: center;
}

.img-gauche1 p {
    position: absolute;
    color: white;
    z-index: 1;
    top: 2%;
}

.img-droite1 {
    position: relative;
    text-align: center;
}

.img-droite1 p {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 2%;
}

.img-droite2 {
    position: relative;
    text-align: center;
}

.img-droite2 p {
    position: absolute;
    color: white;
    z-index: 1;
    bottom: 2%;
}

.p2-droite {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* ==[ FOOTER SECTION ]== */
footer {
    background-color: var(--footer-bgcolor);
    margin-top: 1rem;
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 20px;
}

footer h4 {
    align-items: center;
    text-align: start;
}

footer img {
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1rem;
}

footer .fp2-socials {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 50%;
}

footer .f-lien {
    font-size: 0.8rem;
    text-decoration: underline 1px black;
}

footer .f-buttons {
    display: flex;
    flex-direction: column;
    font-size: 0.5rem;
    gap: 1.5rem;
}

footer .footer-p1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer .footer-p2 {
    width: 30%;
}

footer .footer-p2 h4.f-pages {
    margin-bottom: 2rem;
}

footer .footer-p3 {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/*////////////////////////
//       Desktop        //
////////////////////////*/

@media screen and (min-width : 768px) {

    /* ==[ INIT ]== */
    h1 {
        font-size: 3em;
    }

    /* ==[ HEADER ]== */
    header {
        background-color: var(--primary-bgcolorcolor);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 1em 4em 1em 4em;
        margin-bottom: 5rem;
    }

    .header-burgericon {
        display: none;
    }

    .header-menuexit {
        display: none;
    }

    .header-menu {
        all: unset;

        /* background-color: var(--primary-bgcolor);
        text-align: center;
        align-items: center;
        padding-block: 0;
    
        position: static;
        top: 0;
        left: 100px;
        height: auto;
        min-width: 99vw;
        transform: translateX(0);
        transition: ease 0.6s; */
    }

    .header-menu ul {
        display: flex;
        flex-direction: row;
    }

    .header-menu li {
        display: flex;
        flex-direction: row;
        padding: 20px;
        color: black;
    }

    /* ==[ P1 ]== */
    div.p1-container {
        min-height: 75vh;
        padding: 0 8rem 0 8rem;
    }

    .p1-droite {
        transform: translateY(-10%);
    }

    .p1-droite img {
        transform: translateX(20%);
    }

    .p1-gauche p {
        font-size: 1.2em;

        margin-bottom: 2rem;
    }

    button.p1-button {
        padding: 1em;
    }

    .p1-banner {
        padding: 1em 0 3em 0;
    }

    .banner p {
        font-size: 2em;
        transform: translateX(100%);

        animation: banniere 23s linear infinite;
    }

    @keyframes banniere {
        to {
            transform: translateX(-180%);
        }
    }

    /* ==[ P2 ]== */
    .p2-container {
        display: flex;
        min-height: 90vh;
        max-width: 100vw;
        padding: 4rem 6rem 4rem 6rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
        color: white;
        font-size: 1.2rem;
        user-select: none;
    }

    .p2-container img {
        height: 250px;
    }

    .p2-container img:hover {
        filter: brightness(100%);
    }

    .img-gauche1 {
        position: relative;
        text-align: center;
    }

    .img-gauche1 p {
        position: absolute;
        color: white;
        z-index: 1;
        top: 2%;
    }

    .img-droite1 {
        position: relative;
        text-align: center;
    }

    .img-droite1 p {
        position: absolute;
        color: white;
        z-index: 1;
        bottom: 2%;
        left: 12%;
    }

    .img-droite2 {
        position: relative;
        text-align: center;
    }

    .img-droite2 p {
        position: absolute;
        color: white;
        z-index: 1;
        bottom: 2%;
    }

    .p2-droite {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* ==[ FOOTER SECTION ]== */
    footer {
        background-color: var(--footer-bgcolor);
        margin-top: 1rem;
        width: 100%;
        height: fit-content;

        display: flex;
        flex-direction: row;
        padding: 1.5rem 3rem 1.5rem 3rem;
        gap: 25px;
    }

    footer small {
        font-size: 1rem;
    }

    footer h4 {
        align-items: center;
        text-align: start;
        font-size: 2rem;
        margin-top: 1rem;
    }

    footer img {
        width: 80%;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        gap: 0.35rem;
    }

    footer a {
        font-size: 1.5rem;
    }

    footer .fp2-socials {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

    footer svg:hover {
        fill: var(--button-a);
        cursor: pointer;
    }

    footer .f-lien {
        font-size: 1rem;
        text-decoration: underline 1px black;
    }

    footer .f-lien:hover {
        font-size: 1rem;
        color: var(--button-a);
        text-decoration: underline 1px var(--button-a);
    }

    footer .f-buttons {
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        gap: 1.5rem;
    }

    footer .footer-p1 {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    footer .footer-p2 {
        width: 33.33%;
    }

    footer .footer-p2 h4.f-pages {
        margin-bottom: 2rem;
    }

    footer .footer-p3 h4 {
        margin-bottom: 1.25rem;
    }

    footer .footer-p3 {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}