/* Init */
body {
    font-family: 'Courier New', Arial, 'FragmentMono-Regular';
    margin: 0;
    padding: 0;
    background: url("..");
    background-position: top;
    max-height: 800vh;
    min-height: auto;
    animation: body 1s;
    animation-fill-mode: forwards;
    filter: blur(5px);
}

@keyframes body {
    100% {
        filter: blur(0);
    }
}

body,
html {
    scrollbar-color: rgb(97, 97, 97) rgb(206, 206, 206);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

section.top {
    height: 100vh;
}

section.mid {
    height: 200vh;
    /* background: linear-gradient(rgb(240, 240, 240, 0%), rgb(141, 141, 141)); */
}

section.bot {
    height: 200vh;
    /* background: linear-gradient(rgb(141, 141, 141), rgb(240, 240, 240, 0%)); */
}

/* End Init */

/* Header */
header {
    font-family: 'Arial';
    height: 10%;
    padding: 25px 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    top: 0;
    position: sticky;
}

header a {
    text-decoration: none;
    color: black;

}

.logo p {
    margin: 0;
    font-size: 20px;
    cursor: help;
}

.logo small {
    cursor: default;
}

.logflex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.tabs {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.tabs a {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.tabs a::after {
    content: "";
    height: 3px;
    background-color: black;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    transition: 300ms ease-in-out;
    animation: tabs 3s linear;
    animation-iteration-count: infinite;
}

@keyframes tabs {

    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }

    8% {
        background-color: rgb(255, 127, 0);
    }

    16% {
        background-color: rgb(255, 255, 0);
    }

    25% {
        background-color: rgb(127, 255, 0);
    }

    33% {
        background-color: rgb(0, 255, 0);
    }

    41% {
        background-color: rgb(0, 255, 127);
    }

    50% {
        background-color: rgb(0, 255, 255);
    }

    58% {
        background-color: rgb(0, 127, 255);
    }

    66% {
        background-color: rgb(0, 0, 255);
    }

    75% {
        background-color: rgb(127, 0, 255);
    }

    83% {
        background-color: rgb(255, 0, 255);
    }

    91% {
        background-color: rgb(255, 0, 127);
    }
}

.tabs a:hover::after {
    width: 100%;
    left: 0;
}

.tabs svg {
    cursor: default;
}

/* End Header */

/* Welcome */
.welcome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 150px;
}

.left-welcome {
    width: 50%;
}

.right-welcome {
    width: 50%;
    margin-right: 20px;
}

.right-welcome p {
    margin: 0;
    transition: all 1s ease-in-out;
    cursor: default;
}

.right-welcome p:hover {
    color: #8aa3c2;
    transform: matrix(0.8, 0.025, 0, 0.87, 0, 1);
}

.right-welcome p i {
    font-size: 15px;
}

.right-welcome p.hide {
    opacity: 0;
    pointer-events: none;
}

/* End Welcome */

/* TOP */
.saebutton {
    padding: 10px 25px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #8aa3c2 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.saebutton:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.saebutton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #5875d4 0 -3px 0 inset;
    transform: translateY(-2px);
}

.saebutton:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* END TOP */

/* MIDDLE */
section.mid {
    padding: 20px;
}

section.mid div.work {
    height: 100vh;
    background-color: rgb(0, 255, 0,);
}

section.mid div.about {
    height: 100vh;
    background-color: rgb(255, 0, 0,);
}

/* END MIDDLE */

/* BOTTOM */
.saebox {
    text-align: center;
}

section.modal {
    align-items: center;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 25px;
    margin: 0;
    padding-top: 50px;
    margin-bottom: 20px;
}

section.modal .galleryall {
    align-items: center;
}

section.modal .gallery {
    display: flex;
    justify-content: center;
}

section.modal .gallery div {
    display: flex;
    background-color: rgba(61, 146, 172, 0.2);
    width: 300px;
    height: 220px;
    margin: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
    overflow: hidden;
}

section.modal .gallery a {
    font-family: Arial;
    user-select: none;
    text-decoration: none;
    color: black;
}

section.modal .gallery div:hover {
    transform: translateY(-5px);
    cursor: pointer;
    box-shadow: #6d8f99 0 -3px 3px 3px inset;
}

section.modal .gallery div:active {
    transition: 50ms ease-in-out;
    box-shadow: #283438 0 3px 5px inset;
    transform: translateY(2px);
}

/* END BOTTOM */